__pycache__/
*.py[cod]
.ipynb_checkpoints/

.venv/
venv/
env/
.pytest_cache/

.DS_Store
Thumbs.db

results/

data/c.elegans/GSE126954_RAW.tar
data/c.elegans/GSE126954_gene_by_cell_count_matrix.txt.gz
